@page
@model ResumeBook.Pages.Experiences.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Experience Directory</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Experience[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience[0].CurrentlyWorkingHere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience[0].Candidate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Experience) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentlyWorkingHere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidate.Country)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
