@page
@model ResumeBook.Pages.Candidates.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Headline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Headline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.CurrentEducation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.CurrentEducation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Zipcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Zipcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Industry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Industry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.TotalYearsOfExperience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.TotalYearsOfExperience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.About)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.About)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Candidate.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
