@page
@model HealthDeptApp.Pages.Inspections.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inspection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.DateAssigned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.DateAssigned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.DateInspected)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.DateInspected)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.DateCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.DateCompleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.Agent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.Agent.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.Establishment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.Establishment.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inspection.Report)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspection.Report)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Inspection.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
