@page
@model HealthDeptApp.Pages.HealthCodes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HealthCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HealthCode.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HealthCode.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HealthCode.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HealthCode.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HealthCode.CategoryPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HealthCode.CategoryPosition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HealthCode.Regulation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HealthCode.Regulation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HealthCode.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
